<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.api.mapper.CommentMapper">

    <!-- 게시물에 대한 댓글 목록-->
    <select id="getCommentList"
            resultType="com.study.api.model.out.comment.CommentListDTO"
            parameterType="int">
        SELECT
            REGISTER_DATETIME,
            COMMENTS
        FROM COMMENT
        WHERE ID = #{key}
        ORDER BY REGISTER_DATETIME
    </select>

    <!-- 게시글에 대한 댓글 등록 -->
    <insert id="registerComment"
            parameterType="com.study.api.model.process.CommentInfoProcessDTO">
        INSERT INTO COMMENT
        (
            ID,
            REGISTER_DATETIME,
            COMMENTS
        )
        VALUES
        (
            #{id},
            NOW(),
            #{comments}
        )
    </insert>
</mapper>